; begin auth token
@lf-ke-jin:registry=https://registry.npmjs.org/:username=${NPM_USERNAME}
@lf-ke-jin:registry=https://registry.npmjs.org/:_authToken=${NPM_TOKEN}
@lf-ke-jin:registry=https://registry.npmjs.org/:email=npm requires email to be set but doesn't use the value
; end auth token 