${NPM_REGISTRY}:registry=https://registry.npmjs.org/
; begin auth token
${NPM_REGISTRY}:registry=https://registry.npmjs.org/:username=${NPM_USERNAME}
${NPM_REGISTRY}:registry=https://registry.npmjs.org/:_authToken=${NPM_TOKEN}
${NPM_REGISTRY}:registry=https://registry.npmjs.org/:email=${NPM_EMAIL}
; end auth token 